/* Responsive design for ipad */
@media (max-width:768px){
  header .navbar-brand{
    padding-left: 1rem;
  }
  header .row .col-md-5 img{
    padding-top: 5rem;
  }

  main .section-1 .row .col-md-6 .pray img{
    width: 100%;
  }
  main .section-1 .row .col-md-6 .panel {
    position: absolute;
    top: -3vh;
    z-index: 1;
    margin-right: 5px;
    margin-top: 20px;
    padding: 12px 12px;
  }
  .section-2 .cover{
    background-position: -25vh -10vh;
  }
  .numbers{
    margin-top: -5rem;
  }
  .numbers .rect{
    width: 8rem;
    height: 8rem;
  }
  .numbers .rect h1{
    font-size: 2rem;
  }
  .purchase h1{
    padding-top: 10vh;
    font-size: 4vh;
  }
  .purchase p{
    font-size: 2vh;
    padding-bottom: 50px;
  }

  .purchase .cards .card{
    height: 29.15rem;
    margin-bottom: 20px;
  }

  .card-body .pricing > h1{
    padding: 1em .5em;
    font-size: 5vh;
  }
  .card-body .pricing > a{
    margin-top: -28px;
  }

  .section-3{
    height: 75vh;
    margin-top: 10vh;
  }
  .section-3 .col-md-12 > h1{
    padding-top: 1em;
  }

  .section-3 .desktop{
    padding: 2vh 4vh;
  }

  .section-3 .desktop h3{
    font-size: 2vh;
  }
  .section-3 .desktop p{
    font-size: 1.5vh;
  }
  .section-4 .container h1{
    font-size: 4vh;
    padding-top: 10vh;
  }
  .section-4 .container p{
    font-size: 2vh;
  }
  .section-4 .team{
    margin-top: -12vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section-4 .card{
    width: 28rem;
    height: 100%;
    margin-left: -8rem;
  }
  .section-4 .card .card-img-top > img{
    width: 15em;
    height: 12em;
  }

  .section-4 .carousel-inner {
    margin-left: -10em;
    width: 40rem;
    height: 100%;
  }

  footer{
    margin-left: -4em;
  }

  footer .row .col-md-2 {
    margin-top: -.2vh;
  }
  footer .column i:not(:first-child){
    margin-left: -.5em;
    display: flex;
    flex-direction: column;
    margin-top: .3em;
  }
  footer .column i:first-child{
    margin-left: -.5em;
  }
}



/* Responsive design for smart phones */
@media (max-width:425px){
  header .row .col-md-7{
    margin-top: -5em;
  }
  header .row .col-md-5 img{
    width: 60%;
    margin-top: -20em;
  }
  header{
    margin-bottom: 0;
  }
  .section-1 .row{
    height: 490px;
    margin-bottom: -40px;
  }

  .section-1 .row .col-md-6{
    width: 210px;
    height: 200px;
  }

  .section-1 .row .col-md-6 .pray img{
    height: 40vh;
    margin-left: -15px;
    margin-top: 90px;
  }

  .section-1 .row .col-md-6 .panel h1{
    font-size: 20px;
  }
  .section-1 .row .col-md-6 .panel p{
    font-size: .2em;
  }
  .section-1 .row .col-md-6 .panel{
    margin-left: 80px;
    padding-top: -30px;
  }
  .purchase .cards .card{
    height: 21.9rem; /*22.35rem;*/
    margin-bottom: 20px;
  }
  .section-3 .row{
    height: 200px;
    width: 100vw;
  }
  .section-3 .col-md-6 .desktop{
    margin-top: 7rem;
  }
  .section-4 .team{
    height: 1700px;
    margin-bottom: 16rem;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .section-4 .card{
    width: 20rem;
    height: 35rem;
    margin-left: 1.5rem;
  }
  .section-4 .card .card-img-top > img{
    width: 15em;
    height: 12em;
  }

  .section-4 .carousel-item {
    margin-left: 28px;
  }

  footer .row .col-md-2{
    margin-top: 20px;
  }
  footer{
    font-size: 1em;
  }

@media (max-width: 375px){
  .section-1 .row .col-md-6 .pray img{
    display: inline-block;
    height: 40vh;
    margin-left: -15px;
    margin-top: 90px;
    }

  .section-1 .row .col-md-6 .panel h1{
    font-size: 15px;
  }
  .section-1 .row .col-md-6 .panel p{
    font-size: .1em;
  }
  .section-1 .row .col-md-6 .panel{
    margin-left: 120px;
    display: inline-block;

    /*margin-right: -100px;*/
  }

}
