html,body
{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

*{
  box-sizing: border-box;
}

header, section{
  overflow-x: hidden;
}

:root{
  --Sniglet-font: "Sniglet", cursive;
  --Rubik-font: "Rubik", cursive;
  --Patua-font: "Patua One", cursive;
  --Lobster-font: "lobster", cursive;
  --bg-gradient: linear-gradient(to bottom,#f64c72,#553d67);
  --black-light: #2e2c2caf;
  --light-gray: rgba(255, 255, 255, 0.877);
  --bg-footer: #99738e;
}

header a{
  font-family: var(--Sniglet-font);
  font-size: .9em;
  color: whitesmoke;
}

header{
  background: var(--bg-gradient);
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0 2px 15px 0 rgba(0,0,0,0,.2);
  z-index: 1;
}

.dropdown-content a{
  color: black;
  display: block;
  padding: 12px 16px;
  text-decoration: none;
}

.dropdown-content a:hover{
  background: #ddd;
  text-decoration: none;
}

.dropdown:hover .dropdown-content{
  display: block;
}

header .nav-item:last-child{
  margin-right: 10.5em;
}

header .nav-item{
  padding: .9em;
}

header .navbar-brand{
  padding-left: 8rem;
}

header .nav-link:hover, header .navbar-brand:hover{
  color: black;
}

header .row .col-md-5{
  padding: 4.2vh 1vh;
}

header .row .col-md-7{
  padding: 22vh 1vh;
  padding-bottom: 35vh;
  font-family: var(--Rubik-font);
  color: white;
}

header .row .col-md-5 img{
  width: 90%;
}

header .container .col-md-7 h6{
  padding: 1vh;
  letter-spacing: 4px;
}

header .container .col-md-7 h1{
  font-size: 8.5vh;
  font-weight: bold;
  padding: .1em .;
}

header .container .col-md-7 p{
  padding: 1vh 5vh;
}

header .container .col-md-7 button{
  border-radius: 30px;
  font-weight: bold;
  border: none;
  outline: none;
}

/* section 1*/
.section-1{
  margin-top: 10vh;
}
main .section-1 .row .col-md-6 .pray img{
  opacity: .8;
  border-radius: .2em;
}

main .section-1 .row .col-md-6:last-child{
  position: relative;
}

main .section-1 .row .col-md-6 .panel{
  position: absolute;
  top: 7vh;
  left: -18vh;
  background: white;
  border-radius: 3px;
  text-align: left;
  padding: 7vh 10vh 10vh 7vh;
  box-shadow: 0 25px 42px rgba(0,0,0,.2);
  font-family: var(--Rubik-font);
  z-index: 1;
}

main .section-1 .row .col-md-6 .panel h1{
  font-weight: bold;
  padding: .4em 0;
}

main .section-1 .row .col-md-6 .panel p{
  font-size: .9em;
  color: rgba(0,0,0,.5);
  text-align: justify;
}
 /* section 2 */
 .section-2{
   margin-top: 10vh;
 }
.cover{
  width: 100%;
  height: 55vh;
  background-image: url("images/people.jpg");
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: -24rem -19rem;
}

.cover .content{
  background-color: rgba(0,0,0,.7);
  height: 100%;
  padding-top: 20vh;
}

.cover .content h1{
  font-family: var(--Patua-font);
  color: white;
  font-size: 6vh;
}

.cover .content p{
  font-family: var(--Rubik-font);
  color: white;
  font-size: 2vh;
}

.numbers .rect {
  position: relative;
  background-color: white;
  z-index: 1;
  width: 17rem;
  height: 12rem;
  padding-top: 3.5vh;
  border-radius: .5em;
  margin: 1rem;
  box-shadow: 1px 2px 50px 0px rgba(96,30,45,.3);
}

.numbers{
  margin-top: -15vh;
}

.numbers .rect h1{
  color: #f64c72;
  font-size: 5rem;
}

.numbers .rect p{
  font-family: var(--Patua-font);
}

.purchase > h1{
  padding-top: 15vh;
  font-family: var(--Lobster-font);
  padding-bottom: .1em;
}

.purchase > p{
  color: var(--black-light);
  font-size: 3vh;
  padding-bottom: 10vh;
}

.purchase .cards .card{
  width: 22rem;
  margin: 3vh;
}
.cards div{
  margin: 0;
  padding: 0;
}
.cards .title{
  background-color: rgba(96,30,45,.2);
  padding: 1.4rem 2.5rem;
  font-size: 1.5rem;
}

.card .card-text{
  padding: 2.3rem 3rem;
  color: var(--black-light);
}

.card-body .pricing{
  background-color: rgba(96,30,45,.2);
  /*background-color: rgba(208,241,241,.2);*/
  border-top-right-radius: 170px;
  border-top-left-radius: 170px;
}

.card-body .pricing > h1{
  padding: 1em .5em;
  font-size: 10vh;
}

/* section 3 */
.section-3{
  height: 70vh;
  margin-top: 15vh;
  background: var(--bg-gradient);
}

.section-3 .col-md-12 > h1{
  padding: 2em 0 .5em 0;
  font-size: 6vh;
  color: white;
}

.section-3 .col-md-12 > p{
  padding: 0 4em ;
  padding-bottom: 2em;
  font-size: 3vh;
  color: var(--light-gray);
}

.section-3 .desktop{
  background: white;
  display: inline-block;
  border-radius: 3em;
  padding: 2vh 4.5vh;
  margin: 1em;
}

.section-3 .desktop h3{
  font-size: 4vh;
}

.section-3 .desktop p{
  font-size: 2vh;
  color: gray;
}

/* Section 4 */
.section-4 .container h1{
  font-size: 6vh;
  padding-top: 14vh;
  font-family: var(--Lobster-font);
}

.section-4 .team{
  padding: 10vh 4vh;
}

.section-4 .card{
  width: 22rem;
  margin-top: 10vh;
}

.section-4 .card .card-text{
  padding: .5em;
}

.section-4 .card .card-body> a{
  font-size: 1.5em;
  /*color: #659dbd;*/
}

.border-radius{
  border-radius: 900px;
  width: 60%;
}

.section-4 .card .card-img-top > img{
  width: 40em;
  height: 20em;
}

/* Footer */
footer{
  background-color: rgba(0,0,0,.8);
  padding: 14vh 18vh;
}

footer p> span{
/*  color: #3feee6;*/
color: #c38d9e;
}

footer input {
  border: none !important;
}

footer input::placeholder {
  color: white !important;
}

footer .input-group .input-group-text {
  background: var(--bg-gradient);
  border: none;
  outline: none;
}

footer .column i:not(:first-child){
  color: #dd2476;
  padding: 0 .5em;
}

footer .column i:first-child{
  color: #dd2476;
  padding: 0 .5em;
  margin-left: -.5em;
}
